[defaults]
localhost_warning = False
remote_tmp = /tmp
interpreter_python = auto_silent
pipelining = true
inventory = inventory/hosts.yml
collections_path = ./
roles_path = ./roles

[inventory]
inventory_unparsed_warning = False

[ssh_connection]
# Use gcloud compute ssh as the SSH transport
ssh_executable = ./bin/gcloud-ssh.sh
transfer_method = piped
