# {{ participant.description }}
canton {
  parameters {
    non-standard-config = yes
    alpha-version-support = yes
  }

  participants {
    {{ participant.name }} {
      storage {
        type = {{ participant.storage_type | default(canton_participant_storage_type) }}
{% if participant.storage_type | default(canton_participant_storage_type) == 'postgres' %}
        config {
          dataSourceClassName = "org.postgresql.ds.PGSimpleDataSource"
          properties {
            serverName = "{{ canton_postgres_host | default('127.0.0.1') }}"
            databaseName = "{{ participant.name }}"
            portNumber = "{{ canton_postgres_port | default('5432') }}"
            user = "{{ canton_postgres_user | default('canton') }}"
            password = "{{ canton_postgres_password | default('canton') }}"
          }
        }
{% endif %}
      }
      admin-api { address = "0.0.0.0", port = {{ participant.admin_api_port }} }
      ledger-api { address = "0.0.0.0", port = {{ participant.ledger_api_port }} }
      http-ledger-api { address = "0.0.0.0", port = {{ participant.http_ledger_api_port }} }

      parameters {
        alpha-version-support = yes
        engine {
{% if participant.extension is defined %}
          extensions {
            {{ participant.extension.name }} {
              address = "{{ participant.extension.host | default('127.0.0.1') }}"
              port = {{ participant.extension.port }}
            }
          }
{% endif %}
        }
      }
    }
  }
}
