[Unit]
Description="Zenith External Call Server (participant {{ ecs.id }})"
After=network.target zenith-block-builder-{{ ecs.id }}.service
Requires=zenith-block-builder-{{ ecs.id }}.service
PartOf=zenith.target

[Service]
Type=simple

Environment=RUST_LOG=debug
ExecStart=%h/zenith/bin/zenith-ecs server \
    --config %h/zenith/etc/ecs{{ ecs.id }}.toml \
    --host 0.0.0.0 \
    --port {{ ecs.internal_port | default(ecs.port | int + 10000) }} \
    --block-builder-addr http://127.0.0.1:{{ ecs.block_builder_port }}

Restart=on-failure
RestartSec=10
TimeoutStartSec=120
TimeoutStopSec=30

LimitNOFILE={{ canton_nofile_limit }}
LimitNPROC={{ canton_nproc_limit }}

[Install]
WantedBy=zenith.target
