[Unit]
Description="Create Canton Network topology"
After={{ canton_participants | map(attribute='name') | map('regex_replace', '^(.*)$', 'canton-\\1.service') | join(' ') }}
Wants={{ canton_participants | map(attribute='name') | map('regex_replace', '^(.*)$', 'canton-\\1.service') | join(' ') }}
PartOf=zenith.target

[Service]
Type=oneshot
ExecStart=%h/canton/bin/setup-network
RemainAfterExit=yes

[Install]
WantedBy=zenith.target
