[Unit]
Description=Canton EVM Explorer Web UI (Podman)
After=canton-postgres.service canton-evm-explorer-indexer.service
Requires=canton-postgres.service
Wants=canton-evm-explorer-indexer.service

[Service]
Type=simple
Restart=always
RestartSec=10

ExecStartPre=-/usr/bin/podman stop canton-evm-explorer
ExecStartPre=-/usr/bin/podman rm canton-evm-explorer

ExecStart=/usr/bin/podman run \
    --name canton-evm-explorer \
    --network host \
    -e DATABASE_URL={{ canton_evm_explorer_db_url }} \
    -e EVM_RPC_URL={{ canton_evm_explorer_evm_rpc_url }} \
{% if canton_evm_explorer_public_evm_rpc_url %}
    -e PUBLIC_EVM_RPC_URL={{ canton_evm_explorer_public_evm_rpc_url }} \
{% endif %}
    -e CANTON_HTTP_API_URL={{ canton_evm_explorer_canton_http_api_url }} \
    -e CHAIN_ID={{ canton_evm_explorer_chain_id }} \
    -e DEFAULT_NETWORK={{ canton_evm_explorer_default_network }} \
{% if canton_evm_explorer_faucet_private_key %}
    -e FAUCET_PRIVATE_KEY={{ canton_evm_explorer_faucet_private_key }} \
    -e FAUCET_WCTN_ADDRESS={{ canton_evm_explorer_faucet_wctn_address }} \
    -e FAUCET_ZTH_AMOUNT={{ canton_evm_explorer_faucet_zth_amount }} \
    -e FAUCET_WCTN_AMOUNT={{ canton_evm_explorer_faucet_wctn_amount }} \
    -e FAUCET_NETWORK_ID={{ canton_evm_explorer_faucet_network_id }} \
{% endif %}
    --rm \
    {{ canton_evm_explorer_image }}

ExecStop=/usr/bin/podman stop canton-evm-explorer

[Install]
WantedBy=canton-evm-explorer.target
