[Unit]
Description=Canton EVM Explorer Stack
After=canton-postgres.service
Requires=canton-postgres.service
Wants=canton-evm-explorer-indexer.service canton-evm-explorer.service
{% for tunnel in cloudflared_tunnels | default([]) %}
Wants={{ tunnel.name }}.service
{% endfor %}

[Install]
WantedBy=default.target
