[Unit]
Description=Cloudflare Tunnel — {{ tunnel.name }} (Podman)
After={{ tunnel.after | default('network-online.target') }}
Wants={{ tunnel.after | default('network-online.target') }}

[Service]
Type=simple
Restart=always
RestartSec=10

ExecStartPre=-/usr/bin/podman stop {{ tunnel.name }}
ExecStartPre=-/usr/bin/podman rm {{ tunnel.name }}

ExecStart=/usr/bin/podman run \
    --name {{ tunnel.name }} \
    --network host \
    --rm \
    {{ cloudflared_image }} \
    tunnel --no-autoupdate{% if tunnel.protocol is defined %} --protocol {{ tunnel.protocol }}{% endif %} run --token {{ tunnel.token }}

ExecStop=/usr/bin/podman stop {{ tunnel.name }}

[Install]
WantedBy={{ tunnel.wanted_by | default('default.target') }}
