[Unit]
Description={{ service.description }}
After=network.target

[Service]
Type=simple
Environment="RUST_LOG={{ service.rust_log }}"
ExecStart={{ service.binary }} gcp-meta-data
Restart=on-failure

[Install]
WantedBy=multi-user.target
